.white	{
  background-color: rgba(255, 255, 255, .25);
  }
.black	{
  background-color: rgba(0, 0, 0, .25);
  }
.maroon	{
  background-color: rgba(128, 0, 0, .25);
  }
.red	{
  background-color:	rgba(255, 0, 0, .25);
  }
.pink	{
  background-color: rgba(255, 200, 220, .25);
  }
.brown	{
  background-color: rgba(170, 110, 40, .25);
  }
.orange	{
  background-color: rgba(255, 150, 0, .25);
  }
.coral	{
  background-color: rgba(255, 215, 180, .25);
  }
.olive	{
  background-color: rgba(128, 128, 0, .25);
  }
.yellow	{
  background-color: rgba(255, 235, 0, .25);
  }
.beige	{
  background-color: rgba(255, 250, 200, .25);
  }
.lime	{
  background-color: rgba(190, 255, 0, .25);
  }
.green	{
  background-color: rgba(0, 190, 0, .25);
  }
.mint	{
  background-color: rgba(170, 255, 195, .25);
  }
.teal	{
  background-color: rgba(0, 128, 128, .25);
  }
.cyan	{
  background-color: rgba(100, 255, 255, .25);
  }
.navy	{
  background-color: rgba(0, 0, 128, .25);
  }
.blue	{
  background-color: rgba(67, 133, 255, .25);
  }
.purple	{
  background-color: rgba(130, 0, 150, .25);
  }
.lavender	{
  background-color: rgba(230, 190, 255, .25);
  }
.magenta	{
  background-color: rgba(255, 0, 255, .25);
  }
.grey	{
  background-color: rgba(128, 128, 128, .25);
  }
